body{
    background-color:#eaeff6;
    font-family: sans-serif;
    font-size: 14px;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-contact-form, .contacts-list{
    background-color: #fff;
    width: 320px;
    border-radius:5px;
    color:#2c2c2c;
   
}
.add-contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.add-contact-form>*:last-child{
    align-self: flex-end;
}
.title{
    display: block;
    width: 100%;
    padding: 18px 25px;
    margin-bottom: 20px;
    border-bottom: #efefef 1px solid;
}
.title-contacts{
    margin: 0px;
}
.form-control{
    padding: 8px 15px;
    margin-bottom:10px;
    width: 270px;
    border: #efefef 1px solid;
    border-radius:5px;
}
button{
    margin-top: 5px;
    padding: 9px 16px;
    background-color: #3a59a9;
    color:#fff;
    border-radius:5px;
    border: #3a59a9 1px solid;
    margin-right: 25px;
}
.contact{
    padding: 20px 25px;
    border-bottom: #efefef 1px solid;
}
.contact-phone{
    font-size: 12px;
    color:#666666;
}
a{
    text-decoration: none;
    color:#666666;
    margin-left: 5px;
}